<style>
  .home__newsCarousel {
    background: #BFEFFF;
  }

  .home__newsCarousel h2 {
    color: #3F0791;
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 900;
    margin: 0 0 8px;
  }

  .home__newsCarousel_container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 80px 0;
  }

  .home__newsCarousel_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
  }

  .home__newsCarousel_badge {
    background: #000;
    color: #fff;
    padding: 4px 8px;
    display: inline-block;
  }

  .news-metaobject.campaign h3 {
    color: red;
  }

  .news-metaobject.new-product h3 {
    color: blue;
  }

  .news-metaobject.news h3 {
    color: green;
  }

  .swiper {
    width: 100%;
    height: auto;
  }

  .swiper-slide h3 {
    text-transform: capitalize;
    font-weight: 600;
  }

  .swiper-slide {
    border-radius: 8px;
    box-sizing: border-box;
    padding: 32px;
    height: auto;
    color: #000;
    background: #fff;
  }

  .swiper-slide * {
    font-family: monospace !important;
  }

  .swiper-pagination {
    margin-top: 24px;
    position: relative;
  }

  .swiper-slide p {
    line-height: 1.5;
  }

  .swiper {
    margin-top: 40px;
  }
</style>

<section class="home__newsCarousel">
  <div class="home__newsCarousel_container">
    <h2>News</h2>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for custom_blocks in shop.metaobjects.custom_blocks.values %}
          {% if custom_blocks.featured == true %}
            <div class="news-metaobject swiper-slide {{custom_blocks.category.value.category.value}}">
              <span class="home__newsCarousel_badge">Featured</span>
              <h3>{{ custom_blocks.title.value }}</h3>
              <p>{{ custom_blocks.description.value }}</p>
            </div>
          {% endif %}
        {% endfor %}
    
        {% for custom_blocks in shop.metaobjects.custom_blocks.values %}
          {% if custom_blocks.featured != true %}
            <div class="news-metaobject swiper-slide {{custom_blocks.category.value.category.value}}">
              <h3>{{ custom_blocks.title.value }}</h3>
              <p>{{ custom_blocks.description.value }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>

<script>
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    slidesPerView: 1, // Default to 1 column
    spaceBetween: 10,
    breakpoints: {
      // when window width is >= 640px
      640: {
        slidesPerView: 2,
        spaceBetween: 20
      },
      // when window width is >= 768px
      768: {
        slidesPerView: 2,
        spaceBetween: 30
      },
      // when window width is >= 1024px
      1024: {
        slidesPerView: 3,
        spaceBetween: 30
      }
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    autoplay: {
      delay: 5000,
    },
  });
</script>